<!--Heredo template de base.html-->
{% extends 'appseguros/base.html' %}

<!--Titulo Pestaña de Navegador-->
{% block titulo %} Gestiones VyD | Busqueda Empleado {% endblock  %}

<!--Body de pagina-->
{% block contenidoQueCambia %}

<div class="container mt-5">
    <h1 class="mb-4">Ingrese empleado para buscar:</h1>
    <form action="{% url 'resultadoBusquedaEmpleado' %}" method="GET" class="form-inline">
        <div class="form-group mb-2">
            <label for="nombre" class="sr-only">Nombre</label>
            <input type="text" class="form-control" name="nombre" id="nombre" placeholder="Nombre">
        </div>
        <button type="submit" class="btn btn-dark mb-2 ml-2">Buscar</button>
    </form>
</div>

{% endblock  %}