<!--Heredo template de base.html-->
{% extends 'appseguros/base.html' %}

<!--Titulo Pestaña de Navegador-->
{% block titulo %} Gestiones VyD | Tareas {% endblock  %}

<!--Body de pagina-->
{% block contenidoQueCambia %}

<div class="container mt-5">
    {% if tareas %}
        <ul class="list-group">
            {% for tarea in tareas %}
                <li class="list-group-item">
                    <h5 class="mb-1">{{ tarea.titulo }}</h5>
                    <p class="mb-1">{{ tarea.subtitulo }}</p>
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <div class="alert alert-warning" role="alert">
            No se encontraron tareas con el título "{{ titulo }}".
        </div>
    {% endif %}
</div>

{% endblock  %}
